body {
    background-color: #f4fcf1 !important;
}

#logo {
    width: 240px;
    justify-content: center;
}


.navbar {
    position: fixed;
    justify-content: center;
}

#search-bar {
    width: 300px;
}

#card-container {
    margin-top: 1.5rem;
}

.btn-light {
    --bs-btn-bg: #feeecc !important;
    --bs-btn-color: #572c0f !important;
    --bs-btn-hover-bg: #f2ddaf !important;
    --bs-btn-hover-color: #572c0f !important;
    --bs-btn-hover-border-color: transparent !important;
    --bs-btn-active-bg: #eed39a !important;
    --bs-btn-active-color: #572c0f !important;
    --bs-btn-active-border-color: transparent !important;
}