body {
  background-color: #f4fcf1;
}

#logo {
  width: 240px;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar .d-flex {
  justify-content: center;
  width: 100%;
}

#search-bar {
  width: 500px;
  z-index: 10;
}

#card-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.btn-light {
  --bs-btn-bg: #feeecc;
  --bs-btn-color: #572c0f;
  --bs-btn-hover-bg: #f2ddaf;
  --bs-btn-hover-color: #572c0f;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: #eed39a;
  --bs-btn-active-color: #572c0f;
  --bs-btn-active-border-color: transparent;
}
